@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-size: 20;
	font-style: normal;
	font- font-weight: bold;

}

.clear{
	clear: both;
}

body{
	padding: 20px;
	background: #FFFFFF;
}

#header{
	margin: 10px;
	padding: 10px;
	border-bottom: 2px solid #000000;
}

#logo img{
	height: 60px;
	width: auto;
	border-right: 0px solid #000000;
	margin-right: 50px;
}

#logo, #menu{
	float:left;
	width: 50%;
}

#menu{
	text-align: right;
}

#menu ul{
	list-style: none;
}

#menu ul li{
	display: inline-block;
	text-decoration: none;
	color: #000000;
}

#menu ul li a{
	text-decoration: none;
	color: #000000;
	padding: 10px;
}

#hero{
	width: 100%;
	margin: 20px 0px;
}

#hero img{
	width: 100%;
	height: auto;
}

.featured-image{
	float: left;
	width: 46%;
	margin: 0 4% 0 0;
}

.featured-image.last{
	margin: 0 0 0 3%;
	
	
}

.featured-image img{
	float: left;
	width: 100%;
}

#footer {
	margin: 29px;
	padding: 10px;
	border-top: 3px solid #000000;
	
}
#address, #copyright{
	float:left;
	width:50%;
}
#copyright{
text-align: right;

}


